<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="user1">
 	<select id="getUserTest" parameterType="java.lang.String" resultType="kr.gobong.domain.UserDTO">
 	<![CDATA[
 		select *  from user1 where id = #{id}
 	]]>
 	</select>

	<select id="checkUserIdExist" parameterType="java.lang.String"
		resultType="java.lang.String">
    <![CDATA[
        select name from user1 where id = #{id}
    ]]>
	</select>

	<select id="addUserInfo"
		parameterType="kr.gobong.domain.UserDTO">
 	<![CDATA[
 		insert into user1 values(#{id},#{name},#{pw},#{email},#{tel},default,default)
 	]]>
	</select>
	
	 <select resultType="kr.gobong.domain.UserDTO" parameterType="kr.gobong.domain.UserDTO" id="getUserLogin">
 		<![CDATA[
 			SELECT id, name
 			FROM user1
 			WHERE id = #{id} and pw = #{pw}
 		]]>
 	</select>
</mapper>
 